###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
/var/cache/
/var/log/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
.phpunit.result.cache
/phpunit.xml
###< phpunit/phpunit ###

###> doctrine/doctrine-bundle ###
###< doctrine/doctrine-bundle ###

/vendor/
/docker-compose.override.yml
